version: "3.3"

services:
  mysql:
    ports:
     - "3306:3306"
    container_name: mysql
    image: mysql:5.7
    environment:
     - "MYSQL_DATABASE: wordpress"
     - "MYSQL_USER: wordpress"
     - "MYSQL_PASSWORD: wordpress"
    volumes:
      - db_data:/var/lib/mysql
  wordpress:
    container_name: wordpress
    depends_on:
      - mysql
    image: wordpress:latest
    volumes:
      - wordpress_data:/var/www/html
    ports:
      - "8000:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: mysql
      WORDPRESS_DB_USER: wordpress
      WORDPRESS_DB_PASSWORD: wordpress
      WORDPRESS_DB_NAME: wordpress
  php:

    container_name: php
    image: phpmyadmin/phpmyadmin
    depends_on:
     - mysql
    environment:
     - PMA_HOST=mysql
     - PMA_PORT=3306
     - PMA_ARBITARY=1
    ports:
     - 8018:80
volumes:
  db_data: {}
  wordpress_data: {}